
#station_name {
	font-size: 13px;
	font-weight: normal;
	color: #666;
	padding: 10px 0 0 5px;
}

.weui-article {
	background: #fff;
	+ div {
		margin-top: 30px;
		width: 33.3334%;
		width: 30vw;
		height: 30vw;
		margin: 30px auto 0;
		background-image: url(../images/points@2x.png);
		background-size: 100% 100%;
	}
}
#msg {
	font-size: 20px;
}

.red {
  color: red;
}

.weui-dialog__btn_primary {
	color: #0cf;
}
.weui-dialog {
	border-radius:0;
}
.weui-dialog__ft:after {
	display: none;
}
