#exchange {
  .weui-cells__title {
    font-size: 18px;
    color: #000;
  }
}

#container {
  .muted {
    font-size: 12px;
    color: #999;
  }
  .green {
    color: #66c273;
  }
  .red {
    color: red;
  }
  p {
    color: #666;
    font-size: 14px;
  }
}
