#not_found {
	background-color: #EBEBEB;
	color: #424242;
	text-align: center;
	padding-top: 100px;
	p {
		color: #BFBFBF;
		font-family: "Arial Black", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 6em;
	}
}